.home-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.home-container .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.home-container .row .text-content{
    
}
.home-container .row .text-content h1{
    font-size: 56px;
    letter-spacing: 2px;
    font-weight: bold;
}
.home-container .row .text-content h1 span{
 color: red;
}
.home-container .row .text-content p{
    color: grey;
    font-size: 18px;
}
button{
    border: none;
    background-color: red;
    color: white;
    padding: 13px 24px;
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}
.img-content img{
    width: 100%;
    object-fit: contain;
}