.home-container {
    display: flex;
    padding: 30px 114px !important;
    align-items: center;
    gap: 84px;
    box-sizing: border-box  ;
    align-self: stretch;
    background-color: rgba(245, 247, 250, 1);
}
.home-container .row{
    display: flex;
    justify-content: space-between;
    gap: 240px;
    align-self: center;
    flex-wrap: wrap;
    align-items: center;
}

.home-container .row .text-content{

}
.home-container .row .text-content h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: bold;
}
.home-container .row .text-content h1 span{
 color: red;
}
.home-container .row .text-content p{
    color: grey;
    font-size: 18px;
}
button{
    border: none;
    background-color: red;
    color: white;
    padding: 13px 24px;
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}
.img-content img{
  width: 100%;
}
.img-content {
    width: 291px;
    height: 367px;
}