.container-header .row {
    display: inline-flex;
    padding: 22px 10px 12px 25px;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
   
}

.container-header{
    background-color: rgba(245, 247, 250, 1);
}

.container-header .row #nav-items ul {
    display: inline-flex;
    list-style: none;
}

.container-header .hamburger-icon{
    display: none;
}
.logo h3 {
    color: red;
    font-weight: 600;
    font-family: monospace;
    font-size: 24px;
    letter-spacing: 1px;
}

.logo h3 span {
    color: black;

}

li {
    margin: 0 20px;
}

li a {
    text-decoration: none;
    color: black;
    font-size: large;
    letter-spacing: 1px;
    font-weight: 500;
}

.login-btns button {
    margin: 7px;
}

.login-btns button:nth-child(1) {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 20px;
}

.login-btns button:nth-child(2) {
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

button:hover:nth-child(1) {
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

@media only screen and (max-width: 480px) {
    .nav-items {
      display: none;
    }
  
    .hamburger-icon {
      display: block;
      cursor: pointer;
    }
  
    .active .nav-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px; 
      left: 0;
      width: 100%;
      background-color: #333; 
    }
  
    .active .nav-items ul {
      list-style: none;
      padding: 0;
    }
  
    .active .nav-items ul li {
      margin: 10px 0;
    }
  }
  
 
  @media only screen and (min-width: 769px) {
    .hamburger-icon {
      display: none;
    }
  
    .nav-items {
      display: flex;
      align-items: center;
    }
  
    .nav-items ul {
      display: flex;
      list-style: none;
    }
  
    .nav-items ul li {
      margin-right: 20px;
    }
  }
  