/* Footer.css */

footer {
  display: flex;
  width: 100%;
  margin-top: 100px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--Neutral-Black, #263238);
  color: #ecf0f1; 
  flex-shrink: 0;
}
footer .img-footer{
background-image: url("../../imges/mountain.jpg");
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
object-fit: cover;
width: 100%;
flex-wrap: wrap;
flex-shrink: 1;
}
.img-text {
  width: 887px;
  text-align: center;
  margin-top: 100px;
  margin: 140px auto;
}

.img-text h1{
  color: #FFF;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: 76px;
}
footer .row {
  display: flex;
  padding: 84px 25px;
  align-items: start;
  justify-content: space-between;
  gap:65px; 
  flex-wrap: wrap;
}

.grid1 img{
  margin-top: 25px;
}
.grid1,
.grid2,
.grid-first,
.grid-second,
.grid-third {
  flex: 1;
  margin-right: 20px;
}

.grid1 h1,
.grid2 h1,
.grid-first h1,
.grid-second h1,
.grid-third h1 {
  color: white;
}

.grid p {
  font-size: 14px;
  margin-bottom: 10px;
}

.grid ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid ul li {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  color: #555;
}

.grid1 i:hover{
  color: aquamarine;
  cursor: pointer;
}

.grid2 ul li{
  list-style: none;
  line-height: 25px;
}

.grid-second ul li{
  list-style: none;
  line-height: 25px;
}