@media only screen and (max-width: 480px) {
  .container-header .logo {
    display: flex;
    align-items: center;
    justify-content:center !important;
    flex-wrap: nowrap;
  }
  .container-header .row .nav-items,
  .login-btns {
    display: block;
  }
  .container-header .hamburger-icon {
    display: block !important;
    margin-left: 130px;
    align-items: center;
  }

  .home-container .row {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: -70px;
    
  }

  .services-container .section{
    flex-direction: column;
    
  }
  .home-container .row .text-content .h1 {
    font-size: 45px;
  }

  .Feature-container .cards{
     flex-wrap: wrap;
      gap: 80px;
      flex-direction: column;
  }
  .Feature-container .cards .card {
    margin-bottom: 160px;
  }
  .Feature-container .row .heading-texts h1{
  font-size: 22px;
  }
  .Feature-container .row .heading-texts p{
    font-size: 14px;
    width: 70%;
    }
  .services-container .text-context {
    max-width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    flex-shrink: 1; 
    gap: 8px;
  }
  
  .services-container .text-context p {
    white-space: normal; 
  } 


  footer .img-footer{
       width: 100%;
      
  }
  footer .img-footer .img-text h1{
text-align: center;
flex-shrink: 1 ;
font-size: 34px;
margin-left: 130px;
display: none;
background-repeat: no-repeat;
  }
  footer .img-footer .img-text button{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .container-header .row .nav-items,
  .login-btns {
   display: none;
  }
  .text-context {
    text-align: left; /* Adjust text alignment as needed */
    padding: 0 50px;
  }

  .Feature-container .cards .card {
    width: 350px;
    margin: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .text-context {
    padding: 0 50px;
  }
}